# Catkin workspace and build directories
catkin_ws/build
catkin_ws/devel

#cmake
catkin_ws/src/CMakeLists.txt


#darknet_ros
catkin_ws/src/darknet_ros/.github/
catkin_ws/src/darknet_ros/jenkins-pipeline
catkin_ws/src/darknet_ros/LICENSE
catkin_ws/src/darknet_ros/README.md
catkin_ws/src/darknet_ros/.gitmodules



